fastapi[standard]
uvicorn
sqlalchemy
alembic
asyncpg
psycopg2-binary
pgvector
redis
celery
langchain
langchain-openai
langgraph
e2b_code_interpreter
python-socketio
python-dotenv
httpx
pydantic
pydantic-settings
